@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --color-background: #CCE6D2;
  --color-darkBlock: #366D43;
  --color-lightBlock: #EEF7F0;
  --color-button: #274F30;
  --color-darkButton: #18301D;
}